.form {
    text-align: center;
    justify-content: center;
}

.frame {
    border: 1px solid #ccc;
    width: 50%;
    margin-left: 400px;
}

.textfield {
    border: 1px solid #ccc;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}

.radio-buttons {
    text-align: left;
}

.center {
    margin: auto;
    width: 15%;
    padding: 0px 15px 15px;
}

.application {
    text-align: center;
    padding: 4px;
    margin: -8px;
    margin-top: 40px;
    margin-bottom: 50px;
    background: #c4c2c2;
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.file {
    align-self: center;
    padding: 4px;
    width: 40%;
    margin: auto;
    font-size: 20px;
    border-radius: 8px;
    background-color: #f3dddd;
}